.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    display: none;
  }

  @include lg-phone {
    display: none;
  }

  @include m-phone {
    display: none;
  }

  @include sm-phone {
    display: none;
  }

  table {
    width: 1200px;
    margin-top: 70px;
    border: 1px solid rgb(117, 0, 0);
    padding: 20px;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s all;

    @include desktop {
      width: 900px;
    }

    .table-header {
      background: rgb(117, 0, 0);
      color: white;

      th {
        padding: 20px;
        font-family: "Popins", sans-serif;
        font-size: 15px;
        font-weight: 700;
      }
    }

    tbody {
      th {
        padding: 20px;
        font-family: "Popins", sans-serif;
        font-size: 15px;
        font-weight: 700;

        a {
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          color: rgb(117, 0, 0);
        }
      }

      .shaded {
        background: rgba(117, 0, 0, 0.062);

        button {
          background: rgb(117, 0, 0);
          margin: 5px;
          padding: 10px 15px;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          border: 1px solid rgb(117, 0, 0);
          transition: 0.3s all;
          font-family: "Poppins";
          font-weight: 700;
        }

        button:hover {
          background: none;
          color: rgb(117, 0, 0);
        }
      }
    }
  }
}
